[submodule "thirdparty/Depth2HHA-python"]
	path = thirdparty/Depth2HHA-python
	url = git@github.com:charlesCXK/Depth2HHA-python.git
[submodule "thirdparty/nflows"]
	path = thirdparty/nflows
	url = git@github.com:nkolot/nflows.git
[submodule "thirdparty/FastSAM"]
	path = thirdparty/FastSAM
	url = git@github.com:CASIA-IVA-Lab/FastSAM.git
[submodule "thirdparty/Human3D"]
	path = thirdparty/Human3D
	url = git@github.com:human-3d/Human3D.git
[submodule "sam2"]
	path = sam2
	url = git@github.com:facebookresearch/sam2.git
