[submodule "thirdparty/Depth2HHA"]
	path = thirdparty/Depth2HHA-python
	url = git@github.com:charlesCXK/Depth2HHA-python.git
[submodule "thirdparty/nflows"]
	path = thirdparty/nflows
	url = git@github.com:nkolot/nflows.git
